.navbar-container {
  position: fixed;
  width: 100%;
  height: 57px;
  left: -5px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.logo {
  position: absolute;
  padding-top: 9px;
  padding-left: 11px;
}

#icone {
  position: absolute;
  right: 0;
  padding-top: 17px;
  padding-right: 15px;
  cursor: pointer;
  z-index: 2;
}

#check {
  position: absolute;
  display: none;
  left: 95%;
  padding-right: 10px;
  margin-top: 24px;
}

.barra {
  position: absolute;
  left: 76%;
  margin-top: 0px;
  height: 10%;
  width: 50%;
  transition: all 0.1s linear;
  z-index: 1;
  right: 100%;
}

nav {
  width: 50%;
  position: absolute;
  top: 60px;
}

nav a {
  text-decoration: none;
}

.link {
  background-color: #90bd3e;
  padding: 8px;
  font-family: "Inter", sans-serif;
  color: white;
  transition: all 0.2s linear;
  border-bottom: 2px solid rgb(233, 233, 233);
}

.link:hover {
  background-color: #5d801c;
}

a:link {
  text-decoration: none;
}

#check:checked ~ .barra {
  transform: translateX(100%);
}

.block-cash {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 50%;
  transform: translateX(50%);
  top: 30%;
}

.logo-1 {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 20%;
}

.sub-title_02 {
  position: absolute;
  font-family: "Amatic SC", cursive;
  font-size: 22.5px;
  top: 60%;
}