<!doctype html>
<html lang="pt-br">

<head>
    <title>Eat Clean Brasil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/inicio.css">
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lobster&family=Oswald:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap" rel="stylesheet">

    <header>
        <div class="navbar-container">
            <input type="checkbox" id="check" checked>
            <label id="icone" for="check"><img src="../images//menu.png" width="20"></label>
            <div class="barra">
                <nav>
                    <a href="../views/inicio.html">
                        <div class="link">HOME</div>
                    </a>
                    <a href="../views/contato.html">
                        <div class="link">CONTATO</div>
                    </a>

                    <a href="../index.html">
                        <div class="link">SAIR</div>
                    </a>
                </nav>
            </div>
            <a href="https://www.eatcleanbrasil.com.br/">
                <img src="../images/logo.jpg" alt="" width="52" class="logo">
            </a>
        </div>
    </header>
    <main>
        <div class="box-container">
            <img src="../images/esquerda.png" alt="" width="25" class="esquerda">
            <p class="t1"> Olá! Como você está?</p>
            <img src="../images/direita.png" alt="" width="25" class="direita">
        </div>
        <div class="subtitulo">
            <p>SEU CÓDIGO PROMOCIONAL</p>
        </div>
        <div class="quadro_one-container">
            <p class="sub">EATCLEAN2020</p>
        </div>
        <div class="quadro-cash">
            <p class="sub-cash">
                VALOR EM CONTA
            </p>
            <div class="cash">
                <p>R$ 1.200,00</p> 
            </div>
        </div>
        <p class="title_number">Número de compras realizadas com o seu cupom</p>
        <div class="box_number">
            <p class="config"> 20</p>
        </div>
        <a href="../views/lista.html">
            <div class="box-flecha">
                <img src="../images/flecha.png" alt="" width="23" class="flecha">
        </a>
        </div>
    </main>
    <div class="quadro_two-container">
        <a href="../views/banco.html">
            <p class="sub-two">REALIZAR CADASTRO BANCÁRIO</p>
        </a>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>