<!doctype html>
<html lang="pt-br">

<head>
    <title>Eat Clean Lista</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/lista.css">
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lobster&family=Oswald:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap" rel="stylesheet">

    <header>
        <div class="navbar-container">
            <input type="checkbox" id="check" checked>
            <label id="icone" for="check"><img src="../images//menu.png" width="20"></label>
            <div class="barra">
                <nav>
                    <a href="../views/inicio.html">
                        <div class="link">HOME</div>
                    </a>
                    <a href="../views/contato.html">
                        <div class="link">CONTATO</div>
                    </a>

                    <a href="../index.html">
                        <div class="link">SAIR</div>
                    </a>
                </nav>
            </div>
            <a href="https://www.eatcleanbrasil.com.br/">
                <img src="../images/logo.jpg" alt="" width="52" class="logo">
            </a>
        </div>
    </header>
    <main>
        <div class="box-container">
            <img src="../images/esquerda.png" alt="" width="25" class="esquerda">
            <p class="t1"> Olá! Como você está?</p>
            <img src="../images/direita.png" alt="" width="25" class="direita">
        </div>
        <div class="subtitulo">
            <p>SEU CÓDIGO PROMOCIONAL</p>
        </div>
        <div class="quadro_one-container">
            <p class="sub">EATCLEAN2020</p>
        </div>
        <p class="title_number">Número de compras realizadas com o seu cupom</p>
        <div class="list_number">
            <div class="list_name">
                <p>Márcia Lúcia Rosa dos Santos</p>
                <p>Jorge Matheus Raul da Costa</p>
                <p>Nathan Mateus Mário Costa</p>
                <p>Juliana Catarina Pires</p>
                <p>Felipe Martin Bernardo Pereira</p>
                <p>Caio Arthur Rodrigues</p>
                <p>Tereza Sophia Lara Fogaça</p>
                <p>Luna Lorena Corte Real</p>
                <p>Renato Tomás Renan Santos</p>
                <p>Lavínia Sophia Cavalcanti</p>
                <p>Osvaldo Theo Pedro Dias</p>
                <p>Clara Eloá Lima</p>
                <p>Tânia Juliana Silvana Baptista</p>
                <p>Valentina Evelyn Duarte</p>
                <p>Eliane Sebastiana Gomes</p>
                <p>Melissa Jaqueline Clara dos Santos</p>
                <p>Daiane Rayssa Ferreira</p>
                <p>Erick Márcio Corte Real</p>
                <p>Bianca Eloá Vera Freitas</p>
                <p>Maitê Juliana Letícia Assis</p>
                    <div class="quadro-flecha">
                        <div class="flecha">
                            <a href="../views/inicio.html">
                                <img src="../images/flecha2.png" alt="" width="26">
                            </a>
                        </div>
                    </div>
                    <a href="../views/banco.html">
                        <p class="sub-two">REALIZAR CADASTRO BANCÁRIO</p>
                    </a>
            </div>
        </div>

    </main>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>